<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.today_clothes.domain.board.mapper.BoardMapper">
    <resultMap id="BoardWithUserAndWeatherMap" type="com.server.today_clothes.domain.board.VO.Board">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="date" column="date"/>
        <result property="productId" column="product_id"/>

        <association property="user" javaType="com.server.today_clothes.domain.user.VO.User">
            <id property="id" column="user.id"/>
            <result property="userCode" column="user.userCode"/>
        </association>

        <association property="weather" javaType="com.server.today_clothes.domain.weather.VO.Weather">
            <id property="id" column="weather.id"/>
            <result property="temperature" column="weather.temperature"/>
            <result property="description" column="weather.description"/>
            <result property="image" column="weather.image"/>
        </association>
    </resultMap>
    <select id="findAll" resultMap="BoardWithUserAndWeatherMap">
        SELECT b.id, b.title, b.content, b.date, b.product_id,
               u.id as "user.id", u.user_code as "user.userCode",
               w.id as "weather.id", w.weather_prompt, w.image
        FROM boards b
                 LEFT JOIN users u ON b.user_id = u.id
                 LEFT JOIN weather w ON b.weather_id = w.id
    </select>
    <select id="findById" resultMap="BoardWithUserAndWeatherMap" parameterType="long">
        SELECT b.id, b.user_id, b.title, b.content, b.date, b.weather_id, b.product_id,
               u.id as "user.id", u.user_name as "user.username",
               w.id as "weather.id", w.weather_prompt as "weather.weatherPrompt",
               w.image as "weather.image"
        FROM boards b
                 JOIN users u ON b.user_id = u.id
                 LEFT JOIN weather w ON b.weather_id = w.id
        WHERE b.id = #{id}
    </select>
    <insert id="save" parameterType="com.server.today_clothes.domain.board.VO.Board"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO boards (user_id, title, content, date, weather_id, product_id)
        VALUES (
                   #{user.id},
                   #{title},
                   #{content},
                   NOW(),
                   #{weatherId},
                   #{productId}
               )
    </insert>
    <update id="update" parameterType="com.server.today_clothes.domain.board.VO.Board">
        UPDATE boards
        SET
            title = #{title},
            content = #{content},
            weather_id = #{weatherId},
            product_id = #{productId}
        WHERE id = #{id}
    </update>
    <delete id="deleteById" parameterType="long">
        DELETE FROM boards WHERE id = #{id}
    </delete>

    <insert id="insertLike">
        INSERT INTO user_likes (user_id, board_id)
        VALUES (#{userId}, #{boardId})
        ON CONFLICT (user_id, board_id) DO NOTHING
    </insert>

    <delete id="deleteLike">
        DELETE FROM user_likes
        WHERE user_id = #{userId} AND board_id = #{boardId}
    </delete>

    <select id="findAllLikeCounts" resultType="com.server.today_clothes.domain.board.dto.BoardLikeCountDto">
        SELECT board_id, COUNT(*) as like_count
        FROM user_likes
        GROUP BY board_id
    </select>

</mapper>